.buttonArea {
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    color: unset;
    background-color: unset;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}


.buttonArea:hover path {
    fill: #ff0000;
}

.buttonArea:hover .whiteFillHover {
    fill: #fff;
}
