.buttonContainer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: .2rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 14px/150% SparkasseWeb,Helvetica,Arial,sans-serif;
    padding: .4rem .8rem;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: inherit;
}

.fullWidth {
    width: 100%;
}

.chevronRight {
    margin-left: .4rem;
}

.primaryButton {
    background-color: white;
    color: gray;
}

.secondaryButton {
    background-color: red;
    color: #ffffff;
}

/** Tablet and up */
@media screen and (min-width: 440px) {
    .buttonContainer {
        margin-top: 1rem;
    }
}

