.enterLeft, .exitLeft, .exitActiveRight {
    transform: translate3d(100%,0%,0);
}

.exitActiveLeft {
    transform: translate3d(-100%, 0%,0);
    transition: transform 500ms ease-in-out;
}

.enterRight,.exitRight {
    transform: translate3d(-100%,0%,0);
}

.exitActiveRight {
    transform: translate3d(100%, 0%,0);
    transition: transform 500ms ease-in-out;
}

.enterActiveRight, .enterActiveLeft {
    transform: translate3d(0%,0%,0);
    transition: transform 500ms ease-in-out;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width:600px;
    overflow: hidden;
}
.app {
    display: flex;
    justify-content: center;
}

.appContainer {
    width: 100%;
}

.flexReverse {
    flex-direction: row-reverse;
}

